@use "base/variables" as v;

.acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;

    &__enlace {
        color: v.$negro;
        font-size: 1.4rem;
        font-weight: v.$delgada;
    }
}