@use "base/variables" as v;
@use "base/mixins" as m;

.header {
    min-height: 60rem;
    background-image: 
        url("../img/grafico.svg"), 
        url("../img/grafico.svg"), 
        linear-gradient( to right, rgba(v.$negro, 1),  rgba(v.$negro, .5) ), 
        // con image-set() podemos pasar como argunmentos una misma imagen en distintos formatos y el navegador decidira cual es la mas idondea para renderizar (VIDEO 680)
        image-set( 
            url("../img/header.avif") 1x,
            url("../img/header.webp") 1x,
            url("../img/header.jpg") 1x
        )
    ;
    
    &__contenedor {
        @include m.contenedor;
        border: 1px solid red;
    }
    &__navegacion {
        border: 1px solid yellow;
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 5rem 0;
        @include m.tablet {
            justify-content: flex-end
        };
    }
    &__enlace {
        font-size: 1.4rem;
        font-weight: bold;
        text-transform: uppercase;
        color: v.$blanco;
        &:hover {
            color: v.$azul;
        }
    }
    &__contenido {
        padding-top: 10rem;
        border: 1px solid orangered;
        @include m.tablet {
            padding-top: 5rem;
        };
    }
    &__logo {
        @include m.texto-fluido(2rem, 8rem) /* font-size responsive - VIDEO 681 */
    }
}