@use "base/variables" as v;
@use "base/mixins" as m;

.agenda {
    border: 1px solid #000000;
    @include m.contenedor;
    padding: 5rem 0;
}

.eventos {

    $modificador: &; // variable temporal (VIDEO 758)

    &__heading {
        margin: 5rem 0;

        // tamaño de fuente fluida, entre 2rem y 6rem
        font-size: clamp(2rem, -.8rem + 8vw, 6rem);
        
        text-align: left;
        color: v.$azul;
    }
    &__fecha {
        margin: 3rem 0 1rem 0;
        color: v.$gris;
    }

    &--workshops {
        background-color: salmon;

        // de esta forma invocando la variable temporal declarada mas arriba modifico la clase eventos__heading pese a estar dentro del bloque eventos--workshops (VIDEO 758)
        #{$modificador}__heading {
            color: v.$secundario;
        }
    }

    .swiper-button-next, 
    .swiper-button-prev {
        color: rgba(v.$blanco, .5);
    }
}

.evento {
    border: red solid 1px;
    &__hora {
        font-weight: v.$bold;
    }
    &__informacion {
        padding: 2rem;
        border-radius: 1rem;
        background-color: v.$azul;
        color: v.$blanco;
        transition: 300ms background-color ease;
        &:hover {
            background-color: darken(v.$azul, 10%);
        }
    }

    &__nombre {
        
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        
        margin: 0;
        font-size: 2rem;
    }

    &__introduccion {
        // VIDEO 760 -> para limitar la cantidad de lineas del parrafo que se muestra
        display: -webkit-box;
        -webkit-line-clamp: 4; // 4 lineas para mobile
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include m.tablet {
            -webkit-line-clamp: 2; // 2 lineas a partir de tablet
        };
        // VIDEO 760
        font-size: 1.6rem;
    }
    &__autor-info {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
    }
    &__imagen-autor {
        width: 5rem;
        border-radius: 50%;
        background-color: v.$blanco; // las imagenes admiten color de fondo porque son .png (VIDEO 760)
    }
    &__autor-nombre {
        font-weight: v.$bold;
    }

}