@use "base/variables" as v;
@use "base/mixins" as m;

.dashboard {
    
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: v.$gris-claro;

    // INICIO dashboard__header
    &__header {
        padding: 2rem;
        background-color: v.$gris-oscuro;
        background-color: v.$gris-oscuro;
    }

    &__header-grid {
        display: flex;
        flex-direction: column;
        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        };
    }

    &__logo {
        @include m.logo();
        @include m.texto-fluido(2rem, 3rem);
    }

    &__nav {

    }

    &__form {
        display: flex;
        justify-content: center;
    }

    &__submit--logout {
        @include m.enlace;

        &:hover {
            cursor: pointer;
        }
    }
    // FIN dashboard__header

    // INICIO dashboard__grid
    &__grid {
        display: flex;
        flex-grow: 1; 
        // flex: v.$flex-grow v.$flex-shrink; // VIDEO 696 
    }

    &__sidebar {
        width: 12rem;
        background-color: lighten(v.$gris-oscuro, 10);
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
    }

    &__enlace {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        color: lighten(v.$gris-oscuro, 40);
        transition: 
            300ms background-color ease-in-out,
            300ms color ease-in-out,
            300ms border-radius ease-in-out;

        &:hover,
        &--actual {
            border-radius: 1rem;
            background-color: lighten(v.$gris-oscuro, 20);
            color: v.$blanco;
        }
    }

    &__icono {
        font-size: 2rem;
    }

    &__menu-texto {
        margin-top: .5rem;
        font-size: 1.1rem;
        font-weight: v.$bold;
        text-transform: uppercase;
    }

    &__contenido {
        width: 100%;
        padding: 1rem 1rem 3rem 1rem;
        @include m.tablet {
            padding: 1rem 5rem 3rem 5rem
        };
    }
    // FIN dashboard__grid

}