@use "base/variables" as v;
@use "base/mixins" as m;

.paginacion {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    
    @include m.tablet {
        gap:3rem;
    };

    &__contenedor-numeros {
        display: none;
        // flex: 1;
        @include m.tablet {
            display: flex;
            justify-content: space-between;
        };
    }

    &__enlace {
        

        font-size: 1.6rem;
        color: v.$azul;
    

        &--texto {
            padding: 1rem;
            border: 1px solid v.$azul;
            border-radius: .5rem;

            &:hover {
                background-color: v.$azul;
                color: v.$blanco;
            }
        }
        &--invisible {
            visibility: hidden;
        }
        &--numero {
            font-weight: v.$bold;
            padding: .5rem .8rem;
        }
        &--actual {
            padding: .5rem .8rem;
            border-radius: .5rem;
            font-weight: v.$bold;
            background-color: v.$azul;
            color: v.$blanco;
        }
    }
}